@import "tailwindcss";
/* @import "tailwindcss/preflight";
@tailwind utilities; */

body{
  background: #fafafa;
}

*{
  font-family: 'Work sans', sans-serif;
}

.font{
  font-family: 'SchoolBook Cond Bold W08 Rg', sans-serif;
}

.tiptap ul{
  list-style: disc;
  margin-left: 20px;  
}

.tiptap ol{
  list-style: decimal;
  margin-left: 20px;  
}

.ProseMirror{
  min-height: 150px;
  max-height: 300px;
  overflow: hidden;
}

.ProseMirror:focus{
  outline: none;
}

@media screen and (max-width: 640px){
  .grid-products{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px){
  .grid-products{
    display: grid;
    grid-template-columns: 1fr;
  }
}